@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #323232;
}

.calculator {
    padding: 0.5em;
    margin: 1em;
    border-radius: 1.5em;
    background-color: #212121;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.heading {
    text-align: center;
    color: #14FFEC;
}

.display {
    width: auto;
    color: #14FFEC;
    margin: 1em 0;
}

.display-upper,
.display-main {
    text-align: right;
}

.display-upper,
.display-temp {
    opacity: 50%;
    padding: 0em 0.7em;
    font-size: 90%;
}

.display-main {
    font-size: 140%;
    padding: 0em 0.5em;
}

table {
    border-spacing: 0px;
}

button {
    height: 4.375em;
    width: 4.375em;
    border: none;
    outline: none;
    background-color: #323232;
    color: #14FFEC;
    transition: all 0.2s;
    cursor: pointer;
    border-radius: 50%;
    margin: 2px;
}

button:hover {
    background: #A9A9A9;
    color: black;
}

.span-color {
    background-color: #0D7377;
    color: #14FFEC;
}

.span-color-1 {
    color: #14FFEC;
    background-color: #ff6700;
}

.span-color-1:hover {
    background: #c34f00;
    color: white;
}